.imga {
  width: 320px;
  height: 320px;
}

.imagediva {
  margin-top: 15%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-shrink: 0px;
  gap: 10px;
  height: max-content;
  width: min-content;
  margin-right: auto;
  margin-left: auto;
  max-height: 360px;
  overflow: hidden;
}

.letss {
  width: 550px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rectangla1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  width: 100%;
  z-index: 6;
}

.rectangla2 {
  height: 7px;
  z-index: 10;
}

.song {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  word-break: normal;
  font-family: Roboto;
  word-break: break-all;
}

.guy {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: Roboto;
  margin-bottom: 6px;
}

.pequininihi {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: Roboto;
}

.meucu {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.acima {
  position: relative;
  display: grid;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.spandosom {
  height: 100%;
  height: 100%;
}

.somzin {
  height: 100%;
}

.flexadaa {
  position: relative;
  display: flex;

  gap: 10px;
  padding: 10px 0px;
  flex-shrink: 0;
}

.player {
  width: 100px;
  height: auto;
}

.comoseterido {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  margin-top: auto;
}
