body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.topalgo {
  top: 10%;
}

.flex {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.autozada {
  text-align: center;
}

.estilos {
  height: auto;
  width: 80px;
  background-color: lightgray;
}

.containermeuovo {
  left: 50px;
}

.fontado {
  font-family: Roboto;
  font-size: large;
  text-align: center;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.leftround {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rightround {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.divider {
  color: black;
  width: 2px;
  height: 100%;
  background-color: black;
}
