body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.topalgo {
  top: 10%;
}

.flex {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.autozada {
  text-align: center;
}

.estilos {
  height: auto;
  width: 80px;
}

.containermeuovo {
  left: 50px;
}

.fontado {
  font-family: Roboto;
  font-size: large;
  text-align: center;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.slide-in {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.slide-out {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

.leftround {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid lightgray;
}

.rightround {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}
