body {
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
}

.imagediv {
    margin: auto;
    width: 25%;
    height: 100vw;
}

.img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 40%;
  }

.rectangle{
    height: 10px;
    background-color: white;
    margin:auto;
    margin-top: 2%;
    border: 1px;
    float: right;
    margin-left: 0;
} 

.namesong {
    margin-top: 1%;
    font-size: 20px;
}

.smool {
    margin-top: 2%;
    height: 10px;
    background-color:black;
    width: 3px;
}

.nameartist {

}