.madeByCard {
  position: absolute;
  width: 150px;
  height: 75px;
  background-color: whitesmoke; /* light grey */
  border: 5px solid beige; /* dark grey */
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.madeByContent {
  font-size: 14px;
  color: black;
}
