.imagediv {
  margin: auto;
  width: 25%;
  height: 100vw;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 40%;
}

.rectangle {
  height: 10px;
  margin: auto;
  margin-top: 2%;
  border: 1px;
  float: right;
  margin-left: 0;
}

.namesong {
  margin-top: 1%;
  font-size: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  font-family: Roboto;
}

.nameartist {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  font-family: Roboto;
}

.smool {
  margin-top: 2%;
  height: 10px;
  background-color: black;
  width: 3px;
}

.acima {
  margin-top: 30px;
}
