.imagediv {
  margin: auto;
  width: 25%;
  height: 100vw;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 40%;
  margin-bottom: 4px;
}

.rectangle {
  height: 10px;
  margin: auto;
  margin-top: 2%;
  border: 1px;
  float: right;
  margin-left: 0;
}

.namesong {
  margin-top: 1%;
  font-size: 250%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  font-family: Roboto;
}

.nameartist {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  font-family: Roboto;
  font-size: 125%;
}

.smool {
  margin-top: 2%;
  height: 10px;
  background-color: black;
  width: 3px;
}

.acimap {
  position: relative;
  display: grid;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid black;
  border-radius: 6px;
}
